<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Blank.Master.cs" Inherits="CertifyApp.Blank" %>
<!DOCTYPE html>
<html>
<head runat="server">
    <title>Certificate</title>
    <meta charset="utf-8" />
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager runat="server" />
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server" />
    </form>
</body>
</html>